html, body {
    height:100%;
}

.container {
    max-width: 1440px;
}

* {
    font-size:16px;
    outline: transparent;
}

a {
    color:$primary;
    text-decoration: underline;
     
        &:hover {
            color:$black;
        }
}