html, body {
    height:100%;
}

.container {
    max-width: 1440px ;
}

* {
    font-size:16px;
    outline: transparent;
}

a {
    color:$primary;
    text-decoration: underline;
        &:hover {
            color:$black;
        }
}

table {
    border:0px;
    thead {
        th {
            border:0px !important;
        }
    }

    tbody {
        td {
            border:0px !important;
        }
    }
}